<header class = "jumbotron">
  <h1 class="opener">welcome to questionable</h1>
  <h3 class="opener">the internet's home for questionable queries and answers</h3>
</header>
<div class="container">
  {{outlet}}
</div>

<hr>
<footer>{{#link-to 'index'}}home{{/link-to}}</footer>
