<header class = "jumbotron">
  <h1 class="opener">welcome to questionable</h1>
  <h4 class="opener">your home for questionable queries and auspicious answers</h4>
</header>
<div class="container">
  {{outlet}}
</div>

<hr>
<footer>{{#link-to 'index'}}home{{/link-to}}</footer>
