<h1 class="opener">welcome to questionable</h1>
<h3 class="opener">the internet's home for questionable queries and answers</h3>

<ul>
  {{#each model as |question|}}
    {{question-tile question=question}}
  {{/each}}
</ul>
